.btn {
  width: 100%;
  color: #fff;
  background-color: var(--second);
  padding: 16px 0;
  text-align: center;
  border-radius: 12px;
}

.btn.withIcon {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
}
